<h1>Commande n° <%= @order.id %></h1>

<p>Client : <%= @order.full_name %><br>
Email : <%= @order.email %><br>
Adresse : <%= @order.address %><br></p>

<h2>Produits :</h2>
<ul>
  <% @order.order_items.each do |item| %>
    <li><%= item.product.name %> – x<%= item.quantity %> – <%= number_to_currency(item.total_price_cents / 100.0, unit: "€") %></li>
  <% end %>
</ul>

<p><strong>Total :</strong> <%= number_to_currency(@order.total_price_euros, unit: "€") %></p>
