<section class="navbar" data-controller="nav">
  <div class="navbar-container">

    <div class="navbar-image">
      <%= link_to root_path do %>
        <%= image_tag "banniere.png", alt: "Bannière", class: "navbar-image1" %>
      <% end %>
    </div>

    <ul class="navbar-links" data-nav-target="menu" id="primary-menu">
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Boutique", boutique_path %></li>
      <li><%= link_to "À propos", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

    <button class="navbar-toggle"
            data-nav-target="toggle"
            data-action="click->nav#toggle"
            aria-controls="primary-menu"
            aria-expanded="false">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <div class="navbar-actions" data-nav-target="actions">
      <%= render "shared/cart" %>
      <%= render "shared/user" %>

      <% if admin_signed_in? %>
        <%= link_to "Dashboard", backoffice_root_path, class: "btn btn-admin" %>
      <% else %>
        <%= link_to "Connexion admin", new_admin_session_path, class: "btn btn-admin" %>
      <% end %>
    </div>

  </div>
</section>
