<section class="navbar">
  <div class="navbar-container">
    <div class="navbar-image">
      <%= link_to root_path do %>
        <%= image_tag "banniere.png", alt: "Bannière", class: "navbar-image1" %>
      <% end %>
    </div>

    <ul class="navbar-links">
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Boutique", boutique_path %></li>
      <li><%= link_to "Mariage", mariage_path %></li>
      <li><%= link_to "À propos", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>

    <div class="navbar-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <div class="navbar-actions">
      <%= render "shared/cart" %>
      <%= render "shared/user" %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to "Admin", rails_admin_path, class: "btn btn-admin" %>
      <% end %>
    </div>

  </div>
</section>
