<section class="navbar">
  <div class="navbar-container">
    <div class="navbar-image">
      <%= image_tag "banniere.png", alt: "banniere", class: "navbar-image1", id: "slideshow-image" %>
    </div>
      <ul class="navbar-links">
        <li><%= link_to "Accueil" %></li>
        <li><%= link_to "Boutique", boutique_path %></li>
        <li><%= link_to "À propos", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    <div class="navbar-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</section>

<section class="hero" data-controller="scroll">
  <div class="container text-center">
  </div>
</section>

<section class="best-sellers">
  <h2>La boutique</h2>
  <div class="best-sellers-grid">
    <%= link_to products_path(category: 'compositions'), class: "product-item" do %>
      <%= image_tag "compositions.jpg", class: "macaron-img", alt: "Compositions" %>
      <span class="product-name">Compositions</span>
    <% end %>

    <%= link_to products_path(category: 'roses'), class: "product-item" do %>
      <%= image_tag "roses.jpg", class: "macaron-img", alt: "Roses" %>
      <span class="product-name">Roses</span>
    <% end %>

    <%= link_to products_path(category: 'orchidees'), class: "product-item" do %>
      <%= image_tag "orchidees.jpg", class: "macaron-img", alt: "Orchidées" %>
      <span class="product-name">Orchidées</span>
    <% end %>

    <%= link_to products_path(category: 'deuil'), class: "product-item" do %>
      <%= image_tag "deuil.jpg", class: "macaron-img", alt: "Deuil" %>
      <span class="product-name">Deuil</span>
    <% end %>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <h2 class="section-title">L’Étamine</h2>
    <p class="about-text">
      L’Étamine est une <strong>fleuriste artisanale</strong> située à Flesselles, spécialisée dans la <strong>création de compositions florales uniques</strong> pour tous vos événements : mariages, deuils, anniversaires, naissances...
    </p>
    <p class="about-text">
      Nous vous proposons également un service complet de <strong>Wedding Designer</strong> : organisation sur-mesure, papeterie personnalisée, location de décoration et accompagnement tout au long de votre grand jour.
    </p>
    <p class="about-text">
      Commande en ligne, livraison ou retrait en boutique – <strong>nous sommes là pour fleurir vos moments les plus précieux.</strong>
    </p>
  </div>
</section>
