<%= render "shared/navbar" %>

<section class="hero" data-controller="slideshow"
         data-slideshow-images-value='<%= [
           asset_path("banniere.jpg"),
           asset_path("banniere1.png"),
           asset_path("banniere2.png"),
           asset_path("banniere3.png")
         ].to_json %>'
         data-slideshow-interval-value="4000">
    <!-- Image du carrousel -->
    <%= image_tag "banniere.jpg",
        alt: "bannière",
        class: "hero-image",
        data: { slideshow_target: "image" } %>
</section>

<section class="about" data-controller="reveal">

  <div class="about-cards">
  <%= link_to boutique_path, class: "about-card fade-zoom", data: { reveal_target: "item" } do %>
    <div class="card-image fade-zoom" data-reveal-target="item">
      <%= image_tag "pastille_noire.png", alt: "Pastille or", class: "icon-image" %>
    </div>
    <h3>Artisan Fleuriste</h3>
    <p>
      Spécialisée dans la <strong>création de compositions florales uniques</strong> pour tous vos événements :
    </p>
    <ul class="about-list">
      <li>Mariages</li>
      <li>Deuils</li>
      <li>Anniversaires</li>
      <li>Naissances</li>
    </ul>
  <% end %>

  <%= link_to mariage_fleuriste_path, class: "about-card fade-in", data: { reveal_target: "item" } do %>
    <div class="card-image fade-zoom" data-reveal-target="item">
      <%= image_tag "pastille_or.png", alt: "pastille noire", class: "icon-image" %>
    </div>
    <h3>Wedding Designer</h3>
    <p><strong>Service sur-mesure pour votre mariage </strong>:</p>
    <ul class="about-list">
      <li>Scénographie</li>
      <li>Papeterie</li>
      <li>Location de décoration</li>
      <li>Décoration florale</li>
    </ul>
    <% end %>
  </div>
</section>
