<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Etamine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" %>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap" rel="stylesheet">

    <%# JS avec importmap %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="scroll">
    <!-- Zone pour afficher les toasts flash -->
    <div id="flash-messages"
        data-controller="flash"
        class="fixed top-4 right-4 z-50 space-y-2">
      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>"><%= message %></div>
      <% end %>
    </div>

    <%= yield %>

    <%= render "shared/footer" unless controller_name == "products" && action_name == "show" %>
  </body>
</html>
